* {
    margin: 0;
    padding: 0;
  }
   
  body {
    margin: 20px auto;
    font-family: "Lato";
    font-weight: 300;
  }
   
  form {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

 form label {
    font-size: 1.5rem;
    font-weight: bold;
  }
   
  input {
    font-family: "Lato";
  }


  #loginform {
    
    margin-top: 150px;
    margin-left: 300px;
    padding-bottom: 25px;
    background: LightBlue;
    width: 600px;
    max-width: 100%;
    border: 2px solid Black;
    border-radius: 6px;
  }
   
  #loginform {
    padding-top: 18px;
    text-align: center;
  }
   
  #loginform p {
    padding: 15px 25px;
    font-size: 1.4rem;
    font-weight: bold;
  }

#enter{
    background: Orange;
    border: 2px solid Red;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
   
  .error {
    color: #ff0000;
  }

 a {
    color: #0000ff;
    text-decoration: none;
  }
   
  a:hover {
    text-decoration: underline;
  }

#wrapper {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 200px;
    padding-bottom: 18px;
    background: LightGrey;
    width: 800px;
    max-width: 100%;
    border: 2px solid Black;
    border-radius: 6px;
  }

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 730px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
     
  }
   
  #usermsg {
                padding: 0px;
                width: 100%;
                height: 100%;
                display: flex;
                outline: 0px;
                border-width: 0px;
                resize: none;
                font-size: 12px;
                padding: 10px;
                border-top-width: 0px;
                border-radius: 20px;
                border: 1px solid #ff9800;
    
  }
   
  #name {
    border-radius: 4px;
    border: 1px solid #ff9800;
    padding: 2px 8px;
  }
   
  #submitmsg {
    background: Green;
    border: 1px solid DarkGreen;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
   
  .error {
    color: #ff0000;
  }
   
  #menu {
    padding: 15px 25px;
    display: flex;
  }
   
  #menu p.welcome {
    flex: 1;
  }
   
  a#exit {
    color: white;
    background: Red;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
  }
   
  .msgln { 
                clear: both;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 5px;
                margin: 0 0 10px 5px;    
                max-width: 500px;
                clear:both;
                background-color: white;
                border-radius: 10px;
                position: relative;
                border-width: 1px;
                border-style: solid;
                border-color: grey;
                vertical-align: super;
                
                word-wrap: break-word;
  }
   
  .msgln span.left-info {
    color: orangered;
  }
   
  .msgln span.chat-time {
    color: #666;
    font-size: 60%;
    vertical-align: super;
  }
   
  .msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: Purple;
    color: white;
    padding: 2px 4px 4px 4px;
    margin: 5px 5px 5px 5px; 
    font-size: 90%;
    border-radius: 0 6px 6px 6px;
    
  }
   
  .msgln b.user-name-left {
    background: orangered;
  }

.closebtn {
  top: 150px;
  position: absolute;
  right: 360px;
  font-size: 30px;
  margin-left: 50px;
  color: Black;
  font-weight: bold;
}

.closebtn:hover {
  position: absolute;
  background:none;
  right: 360px;
  font-size: 30px;
  text-decoration: none;
  margin-left: 50px;
}

.pa {
background:Orange; 
color:Brown; 
size: 18px;
width: 45%;
height: 30%;
}
